# Remote server hostname or IP
REMOTE=myserver.local
# Path to the mopidy-mowecl repo on the remote server
# Quote with single quotes to prevent local ~ expansion;
# the remote shell will expand ~ to the remote user's home directory.
REMOTE_DIR='~/mopidy-mowecl'
